<html lang="en" ng-app="efifaApp">
<head>
    <title>eFifa legal</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/emoji.css" />
    <!--link rel="stylesheet" href="css/bootstrap-theme.css" /-->
    <script src="js/angular/angular.js"></script>
    <script src="js/d3/d3.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-charts.js"></script>
    <script src="js/angular/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="MainCtrl">
    <table style="vertical-align: top; table-layout: fixed; word-wrap: normal; width: 80%; height: 90%; background-color: rgba(240, 255, 255, 0.3)/*;opacity: 0.67*/" align="center">
        <tr style="height: 50px">
            <td colspan="2" align="center">
                <form action="logout" method="post">
                    <span align="center" style="font-size: 32px; color: seagreen; padding-top: 6px">
                        <b>eFifa <span style="font-size: xx-small; font-weight: bold">il</span>legal</b>
                    </span>
                    <span style="float: right; padding-right: 6px; padding-top: 6px">
                        <input class="btn btn-danger" style="background-color: inherit; font-weight: bold; color: seagreen" type="submit" value="Sign Out"/>
                    </span>
                </form>
            </td>
        </tr>
        <tr style="height: 50px">
            <td colspan="2">
                <tabset justified="false">
                    <tab ng-repeat="tab in tabs" heading="{{tab.name}}" select="setActive($index)" />
                </tabset>
                <!--<ul class="nav nav-tabs" >
                    <li ng-repeat="tab in tabs">
                        <a ng-class="{active:$index==activeTab}" href class="btn ng-scope ng-binding" ng-click="setActive($index)">    {{tab.name}}  </a>
                    </li>
                </ul>-->
            </td>
        </tr>
        <tr style="vertical-align: top; height: 100%">
            <td colspan="2" style="padding: 10px">
                <div ng-view></div>
            </td>
        </tr>
        <tr style="vertical-align: bottom; height: 100px">
            <td colspan="2">
                <div id="section3">
                    <b>Note:</b> Only tested on Chrome. So if having trouble, <b>Install Chrome</b>.
                </div>
            </td>
        </tr>
    </table>
</body>
</html>