
    <table style="width: 95%; background-color: rgba(240, 255, 255, 0.5)" align="center" ng-controller="efifaRulesCtrl">
        <tr style="vertical-align: top">
            <td style="width: 10%">
                <strong>Match Predictions and points</strong>
            </td>
            <td style="width: 90%">
                <ul>
                    <li>User can predict the score for each match just before the match starts. Default prediction set for each match is 0-0 when registered.</li>
                    <li>Scoring is as follows:
                        <ul>
                            <li>If exact match = 30 points</li>
                            <li>If goal difference same (and winner correct) = 20 points</li>
                            <li>If winner correct = 10 points</li>
                            <li>For Round of 16, the above points will be multiplied by 2 (2x) <strong>For League tournament, not applicable</strong></li>
                            <li>For Quarter Finals, the above points will be multiplied by 3 (3x) <strong>For League tournament, not applicable</strong></li>
                            <li>For Semi Finals, Play-off for Third Place and Finals, the above points will be multiplied by 4 (4x)</li>
                        </ul>
                    </li>
                    <li>In case of knockout games only the final score (without the penalty shootout) will be considered.</li>
                    <li><Strong>Addition:</Strong> Any new user created after tournament started will have the previous Match predictions as 0-0 and will get point based on 0-0 only.</li>
                </ul>
            </td>
        </tr>
        <tr style="vertical-align: top">
            <td style="width: 10%">
                <strong>Global Predictions</strong>
            </td>
            <td style="width: 90%">
                <ul>
                    <li>All the users will be allowed to predict the winner, runner-up and total goals in the tournament.</li>
                    <li>This can be updated just before the elimination round starts. After that no changes will be supported.</li>
                    <li>The points for team predictions will be as follows:
                    <ul>
                        <li>Exact Winner and Runner up = 150 points</li>
                        <li>Teams of final correct = 100 points</li>
                        <li>Only Winner correct = 75 points</li>
                        <li>Only Runner up correct = 60 points</li>
                        <li>One team of final is correct = 50 points</li>
                    </ul></li>
                    <li>The total goals count will not include the penalty shoot out score in knockout stage.</li>
                    <li>The goal difference for each user will be calculated and the ones with the closest will be awarded highest points.</li>
                    <li>Closest ones will get = 100 points</li>
                    <li>Second closest will get = 60 points</li>
                </ul>
            </td>
        </tr>
        <tr style="vertical-align: top">
            <td style="width: 10%">
                <strong>Prize distribution</strong>
            </td>
            <td style="width: 90%">
                <ul>
                    <li>All transactions in cash only. :)</li>
                    <li>The total money will be divided into the top 3 scores in ratio 5:3:2</li>
                    <li>This means there can be multiple users at the same score and they all will receive the same money but in the ratio defined as above.</li>
                    <li>For the sake of disclaimer. Final decision will reside with Varesh Tapadia(varesh.tapadia@gmail.com).</li>
                </ul>
            </td>
        </tr>
    </table>


